$zoomDuration: 0.25s;

figure {
  position: relative;
  clear: both;
  margin:  0 20px;
  width: 50%;

  &.left {
    margin-left: -20%;
  }

  &.right {
    margin-right: -20%;
  }
}

.left {
  float: left;
}
.right {
  float: right;
}

.zoomOverlay {
  z-index: 900;
  background: #ffffff;
  position: absolute;
  transition: opacity $zoomDuration;
  opacity: 0;
  cursor: pointer;
  cursor: -webkit-zoom-out;

  &.show {
    opacity: 1;
  }
}

.zoom-effect img {
  cursor: pointer;
  cursor: -webkit-zoom-in;
}

.zoom-effect .zoomImg,
.zoom-effect .zoomImg-wrap {
  position: relative;
  z-index: 901;
  transition: all $zoomDuration;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}


/**
 * VOLL Cutout Styles
 * - requires 16/10 Image to produce the right cutout angle
 */
figure.left.bottom img {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 28% 100%);
  clip-path:         polygon(0% 0%, 100% 0%, 100% 100%, 28% 100%);
}

figure.left.top img {
  -webkit-clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path:         polygon(28% 0%, 100% 0%, 100% 100%, 0% 100%);
}

figure.right.top img {
  -webkit-clip-path: polygon(0% 0%, 72% 0%, 100% 100%, 0% 100%);
  clip-path:         polygon(0% 0%, 72% 0%, 100% 100%, 0% 100%);
}

figure.right.bottom img {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 72% 100%, 0% 100%);
  clip-path:         polygon(0% 0%, 100% 0%, 72% 100%, 0% 100%);
}

figure img.active {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
  clip-path:         polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
}
