
* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

html {
  background-color: $dark-gray-shade;
}

hr {
  width: 100%;
  border-color: rgba(0,0,0,0.1);
  margin: 0;
}


body.lightbox {
  background: $light-gray;
  border: 5px solid $dark-gray-shade;

  main {
    margin: 0 auto;
    max-width: 500px;
    padding: 2rem;
  }

}
