
h1 {
  font-size: 10vw;
  // color: white;
}

h2 {
  font-size: 8vw;
  // color: white;
}

h3 {
  font-size: 4vw;
}

h5 {
  margin: 1rem 0;
  font-size: 2rem;
}

p {
  margin-top: 1rem;
  line-height: 1.5;
}

body.lightbox {
  color: $dark-gray-shade;
}
